{
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"arrowParens": "always",
	"requireConfig": false,
	"editor.formatOnSave": true
}
